.feedback-container {
    margin: 2rem auto;
    width: 400px;
    border: 1px solid #bababa;
    overflow: hidden;
}

.slider-container {
    display: flex;
    height: 200px;
    border: 1px solid #bababa;
    transition: transform 0.2s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: #eee;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20%; */
    padding: 0.5rem;
}

button {
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    margin: 0 10%;
}

.dots-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: #bababa;
    height: 10px;
    width: 10px;
    border-radius: 1rem;
    cursor: pointer;
}

.dot.active {
    background-color: #848484;
}