.nav-list {
    display: flex;
    gap: 0.5rem;
}

.nav-list div:hover {
    color: yellow;
}

.phone-number {
    color: black;
    background-color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    text-wrap: nowrap;

    transition:
        color 0.4s ease,
        background-color 0.4s ease;
}

.phone-number:hover {
    color: white;
    background-color: black;
    transition:
        color 0.4s ease,
        background-color 0.4s ease;
}

@media (max-width: 620px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }
}


.welcome-window {
    display: flex;
    flex-direction: column;
    background-color: grey;
    background-image: url("../static/15.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    padding: 32px;
}

.description-and-book {
    display: flex;
    flex-direction: column;

    width: min-content;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 0.5rem;
    padding: 1rem;
    backdrop-filter: blur(11px);
    gap: 2rem;
}

.description-and-book .text-container {
    display: flex;
    flex-direction: column;
}

.description-and-book .buttons-container {
    display: flex;
    gap: 1rem;
}

.header-text {
    font-family: "Cabin", sans-serif;;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #181818;
}

.regular-text {
    font-family: "Lato", sans-serif;
    color: #595566;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
}

.black-button {
    align-content: center;
    color: white;
    background-color: #181818;
    padding: 0.5rem 0.75rem;
    text-wrap: nowrap;
    border-radius: 2rem;
    border: 2px solid #181818;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
}

.black-button:hover {
    color: #181818;
    background-color: #fff;
    border: 2px solid #181818;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
    cursor: pointer;
}

.book-button {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 0.5rem;

    color: #181818;
    background-color: #fff;
    padding: 0.5rem 0.75rem;
    text-wrap: nowrap;
    border-radius: 2rem;
    border: 1px solid #181818;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
}

.book-button:hover {
    color: white;
    background-color: #181818;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
    cursor: pointer;
}

.hero__icon {
    stroke: #181818
}

.hero__icon:hover {
    stroke: #fff
}