.welcome-window {
    display: flex;
    flex-direction: column;
    background-color: grey;
    background-image: url("../static/15.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    padding: 32px;
}

.description-and-book {
    display: flex;
    flex-direction: column;

    width: min-content;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 0.5rem;
    padding: 1rem;
    backdrop-filter: blur(11px);
    gap: 2rem;
}

.description-and-book .text-container {
    display: flex;
    flex-direction: column;
}

.description-and-book .buttons-container {
    display: flex;
    gap: 1rem;
}

.black-button {
    align-content: center;
    color: white;
    background-color: #181818;
    padding: 0.5rem 0.75rem;
    text-wrap: nowrap;
    border-radius: 2rem;
    border: 2px solid #181818;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
}

.black-button:hover {
    color: #181818;
    background-color: #fff;
    border: 2px solid #181818;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
    cursor: pointer;
}

.book-button {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 0.5rem;

    color: #181818;
    background-color: #fff;
    padding: 0.5rem 0.75rem;
    text-wrap: nowrap;
    border-radius: 2rem;
    border: 1px solid #181818;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
}

.hero__icon {
    stroke: #181818;
    transition: stroke 0.3s ease;
}

.book-button:hover {
    color: white;
    background-color: #181818;
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
    cursor: pointer;
}

.book-button:hover .hero__icon {
    stroke: #fff;
}