html {
	max-width: 900px;
	min-width: 500px;
	height: 100%;
	margin: 0 auto;

    font-family: "Lato", sans-serif;
    color: #181818;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(27, 27, 27, 0.91);
    height: min-content;

    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}